@import 'tailwindcss';

@theme {
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-500: #727892;
  --color-gray-600: #515870;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-blue-600: #4043e7;
  --color-primary: #2d6a4f;
  --color-background: #f8f8f8;
  --color-black: #0d0e12;

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-antarctican: var(--font-antarctican-mono);
  --font-ariana: var(--font-ariana-pro);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-primary, currentColor);
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

:root {
  --font-sans: var(--font-antarctican-mono);
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 0.875rem;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

/* Reset input field appearances */
textarea,
input {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}
